PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<your-cluster-id>.mongodb.net/<database-name>?retryWrites=true&w=majority
EMAIL_USER=
EMAIL_PASS=
OWNER_NOTIFICATION_EMAIL=contact@srmglobalhub.com
FRONTEND_URL=http://localhost:5173
